{{- if .Values.auth.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: synstream-auth
  labels:
    {{- include "synstream.componentLabels" (dict "name" "synstream-auth" "workloadType" "statefulset" "Chart" .Chart "Release" .Release) | nindent 4 }}
  {{- with .Values.auth.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.auth.service.type }}
  ports:
    - port: {{ .Values.auth.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "synstream.componentSelectorLabels" (dict "name" "synstream-auth") | nindent 4 }}
{{- end }}

