{{- if .Values.nginx.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: synstream-nginx
  labels:
    {{- include "synstream.componentLabels" (dict "name" "synstream-nginx" "workloadType" "deployment" "Chart" .Chart "Release" .Release) | nindent 4 }}
spec:
  replicas: {{ .Values.nginx.replicaCount }}
  selector:
    matchLabels:
      {{- include "synstream.componentSelectorLabels" (dict "name" "synstream-nginx") | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.nginx.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "synstream.componentLabels" (dict "name" "synstream-nginx" "workloadType" "deployment" "Chart" .Chart "Release" .Release) | nindent 8 }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- include "synstream.imagePullSecrets" . | nindent 8 }}
      {{- end }}
      containers:
        - name: nginx
          image: "{{ include "synstream.componentImageURL" (dict "component" .Values.nginx "global" .Values.global "defaultName" "nginx") }}:{{ include "synstream.componentImageTag" (dict "component" .Values.nginx "default" "latest") }}"
          imagePullPolicy: {{ include "synstream.componentImagePullPolicy" (dict "component" .Values.nginx "global" .Values.global) }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            {{- toYaml .Values.nginx.resources | nindent 12 }}
      volumes:
        - name: nginx-config
          configMap:
            name: synstream-nginx-config
      {{- with .Values.nginx.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nginx.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nginx.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}

